<header class="headerContainer">

  <a href="/#/home">
    <image class="logo" src="images/logo.png" alt="Dahlia Dominguez" />
  </a>

  <aside class="container hor">
    <nav
    data-sitenav-directive
    data-name="dahlia dominguez">
    </nav>

     <nav
    data-social-directive
    data-linkedin="https://www.linkedin.com/in/dahliadominguez"
    data-instagram="https://www.instagram.com/dahlia.d/"
    data-facebook="https://www.facebook.com/dahlia.dominguez"
    data-email="dahliadominguez94@gmail.com"
    data-style="boxy"
    data-layout="container hor">
    </nav>
  </aside>

</header>
