<ul class="{{layout}}">
  <li class="link {{style}}">
    <a href="{{linkedin}}">
      <span class="icon-linkedin2"></span>
    </a>
  </li>
  <li class="link {{style}}">
    <a href="{{instagram}}">
      <span class="icon-instagram"></span>
    </a>
  </li>
  <li class="link {{style}}">
    <a href="{{facebook}}">
      <span class="icon-facebook"></span>
    </a>
  </li>
  <li class="link {{style}}">
    <a href="mailto:{{email}}">
      <span class="icon-mail"></span>
    </a>
  </li>
</ul>
