<ul class="container hor">
  <li>
    <a class="link {{style}}" href="{{linkedin}}">
      <span class="icon-linkedin2"></span>
    </a>
  </li>
  <li>
    <a class="link {{style}}" href="{{instagram}}">
      <span class="icon-instagram"></span>
    </a>
  </li>
  <li>
    <a class="link {{style}}" href="{{facebook}}">
      <span class="icon-facebook"></span>
    </a>
  </li>
  <li>
    <a class="link {{style}}" href="mailto:{{email}}">
      <span class="icon-mail"></span>
    </a>
  </li>
</ul>
