.site-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}

.site-nav:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}
