.site-nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}

.site-nav:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

ul:hover .circle a span{
  background-color: grey;
  transition: all 0.2s ease-in-out 0s;
}

.circle:hover a span {
  background-color: black !important;
  transition: all 0.2s ease-in-out 0s;
}

.mini a:hover {
  color: white;
  background-color: black;
  transition: all 0.3s ease-in-out 0s;
}

.main-nav li:hover a {
  color: grey;
  transition: all 0.2s ease-in-out 0s;
}
