<header>
  <image class="logo" src="images/logo.png" alt="Dahlia Dominguez" />

   <aside
  data-social-directive
  data-linkedin="https://www.linkedin.com/in/dahliadominguez"
  data-instagram="https://www.instagram.com/dahlia.d/"
  data-facebook="https://www.facebook.com/dahlia.dominguez"
  data-email="dahliadominguez94@gmail.com"
  data-style="boxy">
  </aside>

  <nav
  data-site-nav-directive
  data-name="dahlia dominguez">
  </nav>

</header>
<section>
  <h2>About</h2>
  <article>
    <p>
      Hi -- I'm Dahlia and I'm a graphic artist.

      I am currently an undergraduate at UC San Diego where I am studying Interdisciplinary Computing and Art with a minor in General Biology. My schooling along with other experiences within graphic design have led me to a great appreciation of design, layout, balance, and visual aesthetics.

      My interests lie in visual spacialization and the use of visual aids to promote information and data. I hope to pursue this interest even more in the future.

      But for now, please take a look at my portfolio. A collection of past works, my portfolio demonstrates a combination of pieces produced for school, for work, and for fun.
    </p>
    <image class="porfile-img" src="images/profile.jpeg" alt="Dahlia Dominguez" />
  </article>
</section>
<footer>
  <aside
  data-social-directive
  data-linkedin="https://www.linkedin.com/in/dahliadominguez"
  data-instagram="https://www.instagram.com/dahlia.d/"
  data-facebook="https://www.facebook.com/dahlia.dominguez"
  data-email="dahliadominguez94@gmail.com"
  data-style="circle">
  </aside>
</footer>
