<section class="container vert">
  <image class="logo-mini" src="images/logo.png" alt="Dahlia Dominguez" />
  <h1 class="center-text heading">dahlia dominguez</h1>
  <p class="center-text subheading">graphic designer // artist</p>
  <nav>
    <ul class="nav-container main-nav">
      <li>
        <a class="link" href="/#/portfolio">PORTFOLIO</a>
      </li>
      <li>
        <a class="link" href="/#/about">ABOUT</a>
      </li>
      <li>
        <a class="link" href="/#/resume">RESUME</a>
      </li>
    </ul>
  </nav>
  <aside
  data-social-directive
  data-linkedin="https://www.linkedin.com/in/dahliadominguez"
  data-instagram="https://www.instagram.com/dahlia.d/"
  data-facebook="https://www.facebook.com/dahlia.dominguez"
  data-email="dahliadominguez94@gmail.com"
  data-style="circle"
  data-layout="nav-container">
  </aside>
</section>
