<header data-header-directive>
</header>
<header data-mobile-header-directive>
</header>
<section class="page-container">
  <div class="spacer">
    <image class="resume-img" src="images/resume.jpeg" alt="Dahlia Dominguez" />
    <footer
    data-social-directive
    data-linkedin="https://www.linkedin.com/in/dahliadominguez"
    data-instagram="https://www.instagram.com/dahlia.d/"
    data-facebook="https://www.facebook.com/dahlia.dominguez"
    data-email="dahliadominguez94@gmail.com"
    data-style="mini"
    data-layout="footer-container">
    </footer>
  </div>
</section>
